CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.vsidx
*.v2
*.lock
*.wsuo
*.suo
*.sqlite
/.vs/OTP.Api/config/applicationhost.config
/src/OTP.Api/.vs/ProjectEvaluation
/src/OTP.Api/bin/Debug/net7.0
/src/OTP.Api/obj/Debug/net7.0
/src/OTP.Api/obj
/src/OTP.Api/OTP.Api.csproj.user
/.vs
/src/OTP.Domains/obj
/OTP.Api.sln.bak
